<div class="user-update">
        <mat-card >
            <mat-card-header>
                <mat-card-title class="title"> Update User</mat-card-title>
            </mat-card-header>
    
    
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username">
                </mat-form-field>
    
        
                <mat-form-field>
                    <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
                </mat-form-field>
    
    
                <mat-form-field>
                    <input matInput placeholder="Full name" [(ngModel)]="name" name="name">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput placeholder="Adress" [(ngModel)]="adress" name="adress">
                </mat-form-field>
    
                <mat-select [(ngModel)]="role" name="role" >
                    <mat-option [value]=0>ADMIN</mat-option>
                    <mat-option [value]=1>TEACHER</mat-option>
                    <mat-option [value]=2>STUDENT</mat-option>                  
                </mat-select>
                
                <mat-form-field *ngIf="role===2">
                    <mat-label>Grupa:</mat-label>
                    <mat-select [(ngModel)]="grupa" name="grupa">
                        <mat-option *ngFor="let group of groupList" [value]='group'>
                            {{group}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </mat-card-content>
    
            <mat-card-actions align="end">
    
                <button mat-raised-button color="accent" (click)="onSubmit()">Update</button>
    
            </mat-card-actions>
    
        </mat-card>
    
    </div>