
Online Student Grading System

Software Requirements Specification 

Version: 0.1
Author: Seles Calin

1.Purpose 

The purpose is to demonstrate the general understanding of an online student grading system.  

2.  Scope
The scope of this document is limited to a high-level overview of the key components, functionality and steps requiring the use of a student grading system.


3.Key components 

 The system consists of the following key components that need to be designed, developed and integrated for a uniform experience: 

	a. Assignment system
	b. Chat system
	c. Quiz system
	d. User operations 
	e. Enrollment system

4.Product requirements

4.1 Functionality
	a.Web site visit - user lands on home page 
	b.User login/registration
	c.User can have 3 different roles-Admin,Teacher,Student-
	d.Depending on role, different Gui pops after login 
	e.Chat system between any users
   4.1.1 Admin 
	a. Perform crud operations on users
	b. Perform crud operations on courses
	c. Assign teachers to courses
   4.1.2 Teacher
	a.Create assignments with deadline date.
	b.Grade submitted assignments
	c.Generate enrollment key so that students can enroll to some course
	d.Add course materials to his courses 
	e.Edit his details
	f.Create quiz for a course(Questions,responses,Time)
   4.1.3 Student
	a.Enroll to courses given an enrollmentKey 
	b.Browse the courses he is enrolled to 
	c.Edit his details 
	d.Submit assignments for any active assignment.
	e.Browse the materials of a given course.
	f.View assignments grades or view all the grades from an assignment. 
	g.take quiz 
	





