.registerComp{

    margin-top: 0;
    height: 100%;
    background-image:url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
  
    
    }
    
mat-card{
    
    min-width: 40%;
    
    }
