.login-wrapper{background-image:url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;}


.login-wrapper{height:100%;}
.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}